<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <!--
        <ion-back-button defaultHref="/" text="Regresar" color="primary"></ion-back-button>
        El atributo de text, funcjona para cambiar el texto de back de iOS, pero resulta molesto verlo en la
        version de android
      -->
    </ion-buttons>
    <ion-title class="ion-text-capitalize"> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>