<app-header titulo="List - Sliding"></app-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let usuario of usuarios | async"> <!-- async convirte un obervable a un arreglo -->
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(usuario)">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="share(usuario)">
          <ion-icon slot="icon-only" name="share-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item>
        <ion-label>
          <h3>{{ usuario.name }}</h3>
          <p slot="end">{{ usuario.email }}</p>
        </ion-label>
  
        <ion-label slot="end" class="ion-text-end text-small">{{ usuario.phone }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option  color="danger" (click)="eliminar(usuario)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>
