<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>

    <!--
    Manera manual de abrir un menú, usando la funcion mostrarMenu() del .ts
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
        <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
        <ion-label> {{ c.name }} </ion-label>
    </ion-item>
  </ion-list>

  <!-- 
  <ion-button routerLink='/alert'>
    Alert
  </ion-button>
  <ion-button routerLink='/action-sheet'>
    Action Sheet
  </ion-button>
   -->
</ion-content>
