<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
      <ion-badge>1</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="call">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Call</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>