<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let new of news; let i = index">
      
      <app-new [new]="new" [favoriteTab]="favoriteTab" [indice]="i"></app-new>

    </ion-col>
  </ion-row>
</ion-grid>