<app-header titulo="Infinite scroll"></app-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item {{i+1}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- El threshold es que tan cerca de borde inferior se necesita llegar para cargar los siguientes elementos
  loadingspinner es el tipo de gif que se muestra (existen mas) -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</ion-content>
