<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="dark">

  <ion-slides [options]="sliderOpts"  *ngIf="dataLocalService.news.length == 0">
    <ion-slide>
      <h1>No hay favoritos</h1>
    </ion-slide>
  </ion-slides>

  <app-news *ngIf="dataLocalService.news.length > 0" [favoriteTab]="true" [news]="dataLocalService.news"></app-news>

</ion-content>
