<app-header [titulo]="nombre || 'Input Forms'"></app-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header>
      <ion-label>Inputs</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre: </ion-label>
      <!-- Input with placeholder -->
      <ion-input type="Text" placeholder="Escribe aqui" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Universidad</ion-label>
      <!-- Input with value -->
      <ion-input value="BUAP"></ion-input>
    </ion-item>

    <h4>Tipos de input</h4>
    <!-- Input with clear button when there is a value -->
    <ion-input clearInput value="clear me"></ion-input>

    <!-- Disabled input -->
    <ion-input value="Disabled" disabled></ion-input>

    <!-- Readonly input -->
    <ion-input value="Readonly" readonly></ion-input>

    <h4>Tipos de label en input</h4>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Fixed Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Stacked Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <h4>Formulario</h4>
  <form #formulario="ngForm" (ngSubmit)="onSubmit( formulario )"> <!--La referencia de onSubmit( formulario ) es opcional, ya que se puede recuperar la informacion atraves del objeto declarado en el .ts o recuperar toda la informacion del formulario enviando la referencia -->
    <ion-list-header>
      <ion-label>Formulario valido: {{ formulario.valid }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" 
                placeholder="email"
                name="email"
                [(ngModel)]="usuario.email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" 
                placeholder="password"
                name="password"
                [(ngModel)]="usuario.password"
                required></ion-input>
    </ion-item>
    <ion-button [disabled]="formulario.invalid" type="submit" expand="block">
      Entrar
    </ion-button>
  </form>
  
</ion-content>
