<app-header titulo="DateTime"></app-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Feha de nacimiento</ion-label>
      <ion-datetime [value]="fechaNac.toISOString()" display-format="DD MMM YYYY" (ionChange)="cambio( $event )"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min y Max (fecha)</ion-label>
      <ion-datetime display-format="DD MMM YYYY" min="2015-01-01" max="2025-12-31"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Selecciona el año</ion-label>
      <ion-datetime display-format="YYYY" min="2015" max="2025"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Custom options</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Personalización</ion-label>
      <ion-datetime [pickerOptions]="customPickerOptions"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Otros ejemplos</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>MM DD YY</ion-label>
      <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Disabled</ion-label>
      <ion-datetime id="dynamicDisabled" displayFormat="MM DD YY" disabled value="1994-12-15"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">MM/DD/YYYY</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>DDD. MMM DD, YY (custom locale)</ion-label>
      <ion-datetime min="1990" max="2050"
        [dayShortNames]="customDayShortNames"
        [yearValues]="customYearValues"
        displayFormat="MMM DDD, YYYY"
        monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>hh:mm A (15 min steps)</ion-label>
      <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>
