<app-header titulo="Progress Bar - Range"></app-header>

<ion-content class="ion-padding">
  <h3> Default Progressbar </h3>
  <ion-progress-bar></ion-progress-bar><br>

  <h3> Default Progressbar with 50 percent </h3>
  <ion-progress-bar [value]="porcentaje"></ion-progress-bar><br>

  <h3> Colorize Progressbar </h3>
  <ion-progress-bar color="tertiary" [value]="porcentaje"></ion-progress-bar><br>

  <h3> Other types </h3>
  <ion-progress-bar [value]="porcentaje" [buffer]="1-porcentaje"></ion-progress-bar><br>
  <ion-progress-bar type="indeterminate"></ion-progress-bar><br>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar><br>

  <h4>Rango de progress bar</h4>
  <ion-list>
    <ion-item>
      <ion-range min="0" max="100" color="secondary" (ionChange)="rangeChange( $event )">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <h3>Otros tipos de rangos </h3>
  <ion-list>
    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>
  
    <ion-item>
      <ion-range min="20" max="80" step="2">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  
    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary"></ion-range>
    </ion-item>
  
    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" ticks="false" color="secondary"></ion-range>
    </ion-item>
  
    <ion-item>
      <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true"></ion-range>
    </ion-item>
  </ion-list>
</ion-content>
