<app-header titulo="Checkbox"></app-header>

<ion-content class="ion-padding">

  <h3> Default Checkbox </h3>
  <ion-checkbox></ion-checkbox>

  <h3> Disabled Checkbox </h3>
  <ion-checkbox disabled="true"></ion-checkbox>

  <h3> Checked Checkbox </h3>
  <ion-checkbox checked="true"></ion-checkbox>

  <h3> Checkbox Colors </h3>
  <ion-checkbox color="primary"></ion-checkbox>
  <ion-checkbox color="secondary"></ion-checkbox>
  <ion-checkbox color="danger"></ion-checkbox>
  <ion-checkbox color="light"></ion-checkbox>
  <ion-checkbox color="dark"></ion-checkbox>

  <h3> Checkboxes in a List </h3>
  <ion-list>
    <ion-item *ngFor="let item of data" (click)="onClick( item )">
      <ion-label>{{item.valor}}</ion-label>
      <ion-checkbox color="tertiary" slot="end" [(ngModel)]="item.selected"></ion-checkbox>
    </ion-item>
  </ion-list><ion-button (click)="verData()" expand="block" >
    Mostrar Datos
  </ion-button>

</ion-content>
