<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Home News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
