<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Headers
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable (ionChange)="categoryChange($event)">
    <ion-segment-button *ngFor="let category of categories" [value]="category">
      <ion-label text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
