<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>

  <!-- [debounce]="1500" es opcional, despues de terminar de escribir espera 1.5 seg, para ejecutar la peticion -->
  <ion-searchbar placeholder="Buscar algo..." 
                inputmode="text" 
                (ionChange)="onSearchChange( $event )"
                [debounce]="1500"
                animated>
  </ion-searchbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let album of albums | filtro: textoBuscar: 'title'">
      <ion-label>{{ album.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
