<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ indice+1 }}. </span>
      <span class="noticia-source-name">{{ new.source.name }}</span>

      <div class="more-new">
        <ion-button (click)="showMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title (click)="openNew()">{{ new.title }}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="new.urlToImage" (click)="openNew()" [src]="new.urlToImage" class="animate__animated animate__fadeIn animate__faster"></ion-img>

  <ion-card-content>
    <p> {{ new.description }} </p>
  </ion-card-content>
</ion-card>