<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Segment</ion-title>
  </ion-toolbar>

  <ion-segment value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let heroe of superheroes | async | filtro: publisher: 'publisher'" class="animate__animated animate__fadeIn animate__faster">
      <ion-label>
        <h3>{{ heroe.superhero }} <small>{{ heroe.alter_ego }}</small> </h3>
        <p>
          {{heroe.first_appearance}}
        </p>
      </ion-label>
      <ion-label slot="end" class="ion-text-right">{{heroe.publisher}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="( superheroes | async ) == null">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>
