<ion-header>
  <ion-toolbar>
    <ion-title>Modal Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Bienvenido {{ nombre }}</h3>
  <p>{{ pais }}</p>
  <ion-button (click)="salirSinAegumentos()" expand="block">
    Salir sin argumentos
  </ion-button>
  <ion-button (click)="salirConAegumentos()" expand="block">
    Salir con argumentos
  </ion-button>

</ion-content>
