<app-header titulo="Alert"></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="presentAlert()" expand="block">
        Present alert
    </ion-button>
    <ion-button (click)="presentAlertConfirm()" expand="block">
        present Alert Confirm
    </ion-button>
    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        present Alert Multiple Buttons
    </ion-button>
    <ion-button (click)="presentAlertPrompt()" expand="block">
        present Alert Prompt
    </ion-button>
    <ion-button (click)="presentAlertRadio()" expand="block">
        present Alert Radio
    </ion-button>
    <ion-button (click)="presentAlertCheckbox()" expand="block">
        present Alert Checkbox
    </ion-button>
</ion-content>
