<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>List - Reorder</ion-title>

    <ion-button slot="end" (click)="changeState()">
      Toggle
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Icono por defecto</h3>
  <ion-list>
    <ion-reorder-group [disabled]="state" (ionItemReorder)="doReorder( $event )">
      <ion-item *ngFor="let letra of abc">
        <ion-label>{{ letra }}</ion-label>
        
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    
  </ion-list>

  <h3>Icono personalizado</h3>
  <ion-list>
    <ion-reorder-group [disabled]="state" (ionItemReorder)="doReorder( $event )">
      <ion-item *ngFor="let letra of abc">
        <ion-label>{{ letra }}</ion-label>
        
        <ion-reorder slot="end">
          <ion-icon name="pizza"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
    
  </ion-list>
</ion-content>
