<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>
  <!-- 
    NOTA
    Cada renglon consta de 12 columnas, puedes especificar o no el tamaño de la columna, si la columna no tiene
    un tamaño, entonces automaticamente se divide en partes iguales o toma el taño que resta, por ejemplo:

    Cada columna tiene asiganado automaticamente un tamaño de 3
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>


    La primer columan consta de 6, la segunda de 4 y la ultima toma lo que resta (un tamaño de 2)
    <ion-row>
      <ion-col size="6">
        ion-col
      </ion-col>
      <ion-col size="4">
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  -->
  <ion-grid fixed> <!-- fixed da un margen adicional a la izquierda y derecha del grid-->
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3" size-xl="1" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/Near.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae felis odio. Vivamus fringilla eleifend suscipit. Vestibulum convallis vitae sapien nec elementum. Sed feugiat lacinia leo id pulvinar. Phasellus hendrerit et neque eget ullamcorper. Fusce eget eleifend lacus. Proin rhoncus cursus elit ac cursus.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
