<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>avatar</ion-title>
    
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/Near.jpg" />
        <!--
          img e ion-img es lo mismo, con la diferencia de que ion-img es lazyload, es decir, se carga bajo demanda
          <ion-img src="/assets/Near.jpg"></ion-img>
        -->
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <img src="/assets/Near.jpg">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/Near.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
