<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Popover</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover( $event )">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="presentPopover( $event )" expand="block"> <!-- El $event funciona para enviar que poton se presiono y alinear el popover cerca del boton presionado, si no se especifica el $event, entonces siempre se mostrará en el centro  -->
    Click me
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="presentPopover( $event )">
        <ion-icon slot="icon-only" name="browsers-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>